.backvideo{
    position: fixed;
    min-width: max-content;
    min-height: max-content;
    left: -570px;
    top: 0;
}
.content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 90%;
}
.content h1,h2{
    color: white;
    font-size: 40px;
}
.content a{
    background-color: #ffad60;
    color: white;
    font-size: 18px;
}

