.logo{
    text-align: center;
    margin: 20px 0 10px;
}
.logo img{
    width: 30%;
}
.logo h4{
    text-decoration: underline;
    margin-bottom: 40px;
}
.btnDiv{
    text-align: center;
}
.btnDiv button{
    color: white;
    background-color: #ffad60;
}
.back{
    display: flex;
    float: left;
}